body {
    font-family: 'PT Sans', sans-serif;
    background: rgba(204, 204, 204, 0.104);
    overflow-x: hidden;
}

.background {
    position: relative;
    background: url(../IMG/buisnessman-small-lighter.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center bottom;
}
#main-navbar {
    background: rgba(204, 204, 204, 0.104); 
}

.navbar-img {
    zoom: .15;
}

.navbar .nav-link {
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .navbar-expand-sm .navbar-light {
    background-color: rgb(8, 8, 8);
    
}

.navbar-brand {
    font-size: 28px;
}
#lead-tag{
    font-size: 14px;
    margin-top: -15px;
    padding-left: 8px;
    position: absolute;
}
#navbarCollapse #lead-tag{
    margin-top: -15px;
    font: white;
}

#special-update {
    font-family: 'Shadows Into Light', cursive;
    border-radius: 5px;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 100px;
}

/* .row {
    margin-top: 100px;
} */
#circle-img {
    margin-top: -50px;
    /* zoom: .9; */
    opacity: 0;
}

  #main-footer {
      margin-top: 30px;
      
  }

@media (max-width: 599px){

    .background {
        position: relative;
        background: white;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center bottom;
    }

    #special-update {
        font-family: 'Shadows Into Light', cursive;
        border-radius: 5px;
        font-size: 2rem;
        margin-top: 10px;
    }
    #circle-img {
        
        zoom: .3;
        border-radius: 5px;
        
        opacity: .85;
    }
}

@media (min-width: 600px){


}

@media (min-width: 767px){
   

}

@media (min-width: 900px){
    
   
}

@media (min-width: 990px){
  
   
}

@media (min-width: 1200px){
   
}